.App {
  background-color: #9DB2BF;
  text-align: left;
}

.App-header {
  background-color: #27374D;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.wrapper {
  padding: 50px 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.pokemon-container {
  background-color: #DDE6ED;
  border: 2px solid #526D82;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon-container:hover {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 3px 526D82;
  transition-duration: 0.s;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 3px #526D82, 0 0 1px rgba(0, 0, 0, 0);

  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
}

/* .pokemon-container:hover > .pokemon-stats {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
} */

.pokemon-stats ul {
  list-style-type: none;
  padding: 0px;
}

.pokemon-stats li {
  list-style-type: none;
  padding: 0px;
}

